<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-foodlens" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Foodlens</name>
    <js-module name="Foodlens" src="www/Foodlens.js">
        <clobbers target="cordova.plugins.foodlens" />
    </js-module>
    <!--engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=8.0.0"/>
        <engine name="cordova-ios" version=">=5.0.0"/>
    </engines-->

    <!--edit-config file="config.xml" target="/widget/platform[name='ios']" mode="merge">
        <preference name="UseSwiftLanguageVersion" value="4.2" />
        <preference name="deployment-target" value="11.0" />
    </edit-config-->

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Foodlens">
                <param name="android-package" value="cordova.plugins.foodlens.Foodlens" />
            </feature>
        </config-file>

		<config-file parent="/*" target="res/values/strings.xml">
			<string name="foodlens_access_token">dc76c8d0493411e9b4750800200c9a66</string>
			<string name="foodlens_app_token">dc76c8d0493411e9b4750800200c9a66</string>
			<string name="foodlens_company_token">a773e095563e4f67991c69d8fd1d5333</string>
		</config-file>

        <config-file mode="merge" parent="/manifest/application" target="AndroidManifest.xml">
			<meta-data android:name="com.doinglab.foodlens.sdk.accesstoken" android:value="@string/foodlens_access_token"/>
			<meta-data android:name="com.doinglab.foodlens.sdk.apptoken" android:value="@string/foodlens_app_token"/>
			<meta-data android:name="com.doinglab.foodlens.sdk.companytoken" android:value="@string/foodlens_company_token"/>
		</config-file>
        <source-file src="src/android/Foodlens.java" target-dir="src/cordova/plugins/foodlens" />
        <framework custom="true" src="src/android/build-extras.gradle" type="gradleReference" />
    </platform>

    <platform name="ios">
        <!-- <plugins-plist key="Foo" string="CDVFoo" /> -->
        <!-- <plugins-plist key="NSPhotoLibraryUsageDescription" string="Foodlens requires photo to analyze food consumption"/>
        <plugins-plist key="NSCameraUsageDescription" string="Foodlens requires photo to analyze food consumption"/> -->

        <!-- <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge" overwrite="true" >
          <string>Foodlens requires photo to analyze food consumption</string>
        </edit-config>
        <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge" overwrite="true">
            <string>Foodlens requires photo to analyze food consumption</string>
        </edit-config> -->


        <config-file parent="/*" target="config.xml">
            <feature name="Foodlens">
                <param name="ios-package" value="Foodlens" />
            </feature>
        </config-file>
        <source-file src="src/ios/Foodlens.swift" />
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <!-- <pod name="FoodLens" git="https://FoodLensUser@bitbucket.org/doing-lab/foodlenssdk_ios.git" tag = "2.0.24"/> -->
                <pod name="FoodLens" spec="2.4.8"/>
            </pods>
        </podspec>

    </platform>
</plugin>
