<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-foodlens" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Foodlens</name>
    <js-module name="Foodlens" src="www/Foodlens.js">
        <clobbers target="cordova.plugins.Foodlens" />
    </js-module>
    <!--engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=8.0.0"/>
        <engine name="cordova-ios" version=">=5.0.0"/>
    </engines-->

    <!--edit-config file="config.xml" target="/widget/platform[name='ios']" mode="merge">
        <preference name="UseSwiftLanguageVersion" value="4.2" />
        <preference name="deployment-target" value="11.0" />
    </edit-config-->
    
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Foodlens">
                <param name="android-package" value="cordova.plugin.foodlens.Foodlens" />
            </feature>
        </config-file>
        <config-file mode="merge" parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="com.doinglab.foodlens.sdk.accesstoken" android:value="dc76c8d0493411e9b4750800200c9a66" />
        </config-file>
        <source-file src="src/android/Foodlens.java" target-dir="src/cordova/plugin/foodlens" />
        <framework custom="true" src="src/android/build-extras.gradle" type="gradleReference" />
    </platform>

    <platform name="ios">
        
        <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge" overwrite="true" >
          <string>Foodlens requires photo to analyze food consumption</string>
        </edit-config>
        <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge" overwrite="true">
            <string>Foodlens requires photo to analyze food consumption</string>
        </edit-config>


        <config-file parent="/*" target="config.xml">
            <feature name="Foodlens">
                <param name="ios-package" value="Foodlens" />
            </feature>
        </config-file>
        <source-file src="src/ios/Foodlens.swift" />

        <!-- <podspec>
            <config>
                <source url="https://bitbucket.org/doing-lab/foodlenssdk-specs.git" />
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="FoodLens" spec="2.0.23"/>
            </pods>
        </podspec> -->
    </platform>
</plugin>